@import 'buttonStyle';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

@mixin button-style($bg-color: blue, $text-color: whitesmoke) {
  padding: 10px 10px;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  @include button-style(blue, khaki);
}

.red {
  @include button-style(red, purple);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
